* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #00ffff rgba(66, 66, 66, 0.479);
  &::-webkit-scrollbar{
    width: 0.3vw;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #00ffff;
  }
  &::-webkit-scrollbar-track{
    background-color: rgba(66, 66, 66, 0.452);
  }
}

body {
  overflow-x: hidden;
}

.home-container {
  overflow-x: hidden;
}

.App {
  position: relative;
}

@import "./nav.scss";
@import "./hero.scss";
@import "./about.scss";
@import "./project.scss";
@import "./contact.scss";
@import "./allproject.scss";
