* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.App {
  position: relative;
}

@import "./nav.scss";
@import "./hero.scss";
@import "./about.scss";
@import "./project.scss";
@import "./contact.scss";
@import "./allproject.scss";
